<div class="twitter-data">
    <h1>Say Hello To <a href="https://twitter.com/{{username}}">@{{username}}</a>!</h1>
    <img class="avatar" src="{{img}}"/>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                {{!<th>Key</th>
                <th>Value</th>}}
            </tr>
            <tbody>
                <tr>
                    <td>User ID</td>
                    <td>{{userId}}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>{{location}}</td>
                </tr>
                <tr>
                    <td>Tweets</td>
                    <td>{{tweets}}</td>
                </tr>
            </tbody>
        </thead>
    </table>
    <div class="footer">
        <a href="/">Back</a>
    </div>
</div>
