<div class="twitter-data">
    <h1>Say Hello To @{{username}}!</h1>
    <img class="avatar" src="{{img}}"/>
    <div class="data">
        <div><span class="label">User Id</span> <span class="value">{{userId}}</span></div>
        <div><span class="label">Real Name</span> <span class="value">{{name}}</span></div>
        <div><span class="label">Location</span> <span class="value">{{location}}</span></div>
        <div><span class="label">Tweets</span> <span class="value">{{tweets}}</span></div>
    </div>
</div>
